---
import Experience from "~/components/Experience.astro";
import Education from "~/components/Education.astro";
import Contact from "~/components/Contact.astro";
import Section from "~/components/Section.astro";
import Header from "~/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import { info } from "~/content/info";
import Skill from "~/components/Skill.astro";
---

<style>
  #profile-avatar {
    background: url(https://res.cloudinary.com/dtend0jkk/image/upload/v1679675893/profile_hpvbmo.jpg)
      no-repeat;
    background-position: 10% 50%;
    background-size: 150%;
    width: 100%;
    aspect-ratio: 760/912;
  }
</style>

<Layout title={`${info.name} - CV`}>
  <main
    class="relative m-12 grid w-full max-w-[1000px] grid-cols-1-2 overflow-hidden rounded-sm bg-white shadow-paper"
  >
    <aside
      class="relative flex min-w-[300px] flex-col gap-11 bg-primary-dark pb-16 text-white"
    >
      <div id="profile-avatar"></div>
      <section id="education" class="ml-10">
        <h3
          class="border-b-[3px] border-b-primary-light pb-4 text-xl font-semibold uppercase tracking-wider"
        >
          Education
        </h3>
        {info.education.map(($) => <Education education={$} />)}
      </section>
      <section id="contact" class="flex flex-col gap-3">
        {info.contact.map(($) => <Contact contact={$} />)}
      </section>
    </aside>
    <div class="relative bg-white">
      <Header />
      <article class="flex flex-col gap-8 px-16 py-12 text-dark">
        <Section title="About me">
          <p class="text-justify text-lg font-medium">{info.about}</p>
        </Section>
        <Section title="Work Experience">
          {info.experience.map(($) => <Experience experience={$} />)}
        </Section>
        <Section title="Design & Edit Skills">
          {info.editor_skills.map(($) => <Skill skill={$} />)}
        </Section>
        <Section title="Web Development Skills">
          {info.dev_skills.map(($) => <Skill skill={$} />)}
        </Section>
      </article>
    </div>
  </main>
</Layout>
