---
import MobileHeader from "~/components/MobileHeader.astro";
import Experience from "~/components/Experience.astro";
import Education from "~/components/Education.astro";
import Contact from "~/components/Contact.astro";
import Section from "~/components/Section.astro";
import Header from "~/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Skill from "~/components/Skill.astro";
import Tech from "~/components/Tech.astro";
import { info } from "~/content/info";
---

<style is:global>
  #profile-avatar {
    background-image: url(https://res.cloudinary.com/dtend0jkk/image/upload/v1679675893/profile_hpvbmo.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
  }
</style>

<Layout title={`${info.name} - CV`}>
  <main class="flex md:m-12 w-full max-w-[1000px] bg-white md:shadow-paper">
    <aside
      class="hidden md:flex min-w-[300px] flex-col gap-11 bg-primary-dark pb-16 text-white"
    >
      <div id="profile-avatar" class="aspect-[760/912] w-full bg-[10%_50%]">
      </div>
      <section id="education" class="ml-10">
        <h3
          class="border-b-[3px] border-b-primary-light pb-4 text-xl font-semibold uppercase tracking-wider"
        >
          Education
        </h3>
        {info.education.map(($) => <Education education={$} />)}
      </section>
      <section id="contact" class="flex flex-col gap-4">
        {info.contact.map(($) => <Contact contact={$} />)}
      </section>
    </aside>
    <div class="relative bg-white">
      <MobileHeader />
      <Header />
      <article
        class="flex flex-col gap-8 px-8 py-6 lg:px-16 lg:py-12 text-dark"
      >
        <Section title="About me">
          <p class="text-justify text-md font-medium lg:text-lg">
            {info.about}
          </p>
        </Section>
        <Section class="gap-4" title="Work Experience">
          {info.experience.map(($) => <Experience experience={$} />)}
        </Section>
        <Section title="Design & Edit Skills">
          {info.editor_skills.map(($) => <Skill skill={$} />)}
        </Section>
        <Section title="Web Development Skills">
          {info.dev_skills.map(($) => <Skill skill={$} />)}
        </Section>
        <Section title="Tech Stacks">
          {info.techs.map(($) => <Tech tech={$} />)}
        </Section>
      </article>
    </div>
  </main>
</Layout>
