---
import type { ExperienceTypes } from "~/types";

interface Props {
  experience: ExperienceTypes;
}

const { experience } = Astro.props;
---

<div class="flex flex-col">
  <span class="uppercase font-medium text-sm"
    >{`${experience.startDate} - ${experience.endDate}`}</span
  >
  <div class="tracking-wide text-justify">
    <div class="mb-1">
      <h4 class="font-semibold uppercase">{experience.name}</h4>
      <h5 class="font-semibold text-sm">{experience.location}</h5>
    </div>
    <ul>
      {experience.description.map(($) => <li>{$}</li>)}
    </ul>
  </div>
</div>
