---
import { info } from "~/content/info";
---

<nav
  class="md:hidden flex flex-col gap-8 items-center justify-center bg-primary-dark p-12 text-white"
>
  <div id="profile-avatar" class="rounded-full w-56 h-56 bg-[10%_40%]"></div>
  <div class="text-white text-center flex flex-col gap-1">
    <h2 class="uppercase font-bold text-2xl">{info.name}</h2>
    <h3>{info.jobDescription}</h3>
  </div>
  <div class="h-[2px] w-full bg-primary-light"></div>

  <div class="flex flex-col gap-3 w-full">
    <h3 class="text-lg font-semibold uppercase tracking-wider">Education</h3>
    {
      info.education.map(($) => (
        <div class="pl-6">
          <h4 class="font-medium uppercase">{$.location}</h4>
          <h5 class="text-sm font-light">{$.name}</h5>
          <h6 class="text-xs font-light">{`${$.startDate} - ${$.endDate}`}</h6>
        </div>
      ))
    }
  </div>

  <div id="contact" class="flex flex-col gap-3 w-full">
    <h3 class="text-lg font-semibold uppercase tracking-wider">Contact Info</h3>
    {
      info.contact.map(($) => (
        <div class="flex items-baseline gap-4">
          <i class:list={[$.icon]} />
          <a href={$.href}>{$.content}</a>
        </div>
      ))
    }
  </div>
</nav>
